.section-connect {
  background-color: #d5dfe6;
  padding: 100px 0px;
  text-align: center;
}

.section-connect .section-title {
  font-size: 80px;
  line-height: 1.1;
  letter-spacing: 1px;
  font-family: 'ClashGrotesk-Semibold';
  margin-bottom: 20px;
}

.section-connect .section-desc {
  color: var(--color-grey);
  font-size: 22px;
  line-height: 30px;
  font-family: 'ClashGrotesk-Medium';
  margin-bottom: 50px;
}

.section-connect .cta-wrapper a {
  display: inline-block;
  cursor: pointer;
}

.section-connect .cta-wrapper .cta-text {
  color: var(--color-black);
  font-size: 12px;
  font-family: 'ClashGrotesk-Semibold';
  letter-spacing: 2px;
  line-height: 20px;
}

.button-line {
  width: 100%;
  height: 1px;
  background-color: rgba(177, 177, 177, 0.56);
}

.button-line-absolute {
  width: 0%;
  height: 1px;
  background-color: var(--color-black);
  transition: all 0.3s ease;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

a:hover .button-line-absolute {
  width: 100%;
  /* transition: all 0.3ms ease; */
}

.section-footer .container {
  grid-template-columns: repeat(3, 1fr);
  padding: 50px 0px;
}

.section-footer .container .col-left {
  align-content: space-between;
}

.section-footer .image-wrapper {
  width: 200px;
  /* margin-bottom: 25px; */
}

.section-footer .footer-social .social-wrapper {
  grid-template-columns: repeat(2, max-content);
  gap: 30px;
}

.section-footer .footer-social .fb-svg svg {
  fill: var(--color-black);
  stroke: none;
}

.section-footer .details-wrapper {
  gap: 10px;
}

.section-footer .details-wrapper .address-wrapper {
  color: var(--color-grey);
  font-size: 19px;
  line-height: 1.2;
  margin-bottom: 10px;
  font-family: 'ClashGrotesk-Medium';
}

.section-footer .details-wrapper a {
  color: var(--color-black);
  font-family: 'ClashGrotesk-Semibold';
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Responsive */
/* Mobile Potrait */
@media screen and (max-width: 767px) {
  .section-footer .container {
    grid-template-columns: 1fr;
    gap: 50px;
    justify-items: center;
  }

  .section-footer .container .col-left {
    gap: 50px;
  }

  .section-footer .footer-social .social-wrapper {
    justify-content: center;
  }

  .section-footer .container .col-center {
    display: none;
  }
}
/* Tablet Potrait */
@media screen and (max-width: 980px) and (min-width: 768px) {
}
