.page-content {
  padding-top: 75px;
}

.section-banner .section-title {
  font-size: 140px;
  font-family: 'ClashGrotesk-Semibold';
}

.section-banner .container {
  height: calc(100vh - 75px);
  align-content: center;
  text-transform: uppercase;
}

.section-banner .scroll-down-wrapper {
  position: absolute;
  bottom: 5%;
  left: 50%;
  right: 50%;
}

.section-banner .scroll-down-wrapper a {
  color: var(--color-black);
}

.section-banner .scroll-down-wrapper .icon-scroll-down svg {
  height: 50px;
  width: 50px;
}

/* Section 2 */
.section-our-client .container {
  width: 600px;
  padding: 100px 0px;
}

.section-our-client .section-title {
  text-align: center;
  font-size: 38px;
  font-family: 'ClashGrotesk-Semibold';
  padding: 20px 0px 50px 0px;
}

.section-our-client .client-logo-box {
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 35px;
  /* max-width: 550px;
  
  filter: invert();
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  margin-left: auto;
  margin-right: auto; */
}

.section-our-client .client-logo-box .client-logo {
  height: 50px;
}

.section-our-client .client-logo-box .client-logo img {
  object-fit: contain;
}

/* Section 3 - Our Services */
.section-our-services {
  background-color: var(--color-black);
  color: var(--color-white);
}

.section-our-services .container {
  grid-template-columns: 1fr 1fr;
}

.section-our-services .container .col-left {
  padding: 10%;
}

.section-our-services .container .section-title {
  font-size: 80px;
  font-family: 'ClashGrotesk-Semibold';
  text-transform: uppercase;
  width: 80%;
  margin-left: 0;
}

.section-our-services .services-wrapper {
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-top: 50px;
}

.section-our-services .service-card .service-icon svg {
  width: 50px;
  height: 50px;
}
.section-our-services .service-card .service-content {
  padding-top: 20px;
}

.section-our-services .service-card .service-title {
  font-size: 30px;
  font-family: 'ClashGrotesk-Medium';
  /* font-family: 'ClashGrotesk-Semibold'; */
}

.section-our-services .service-card .service-desc {
  font-size: 18px;
  padding-top: 10px;
}

.section-our-services .col-right .image-wrapper {
  height: 100%;
}

.section-our-services .col-right .image-wrapper img {
  object-position: 25%;
}
